{
	"common": {
		"term_truecolor": false
	},
	"ext": {
		"shell": {
			"colorscheme": "{{ powerline_config_shell_colorscheme }}",
			"theme": "{{ powerline_config_shell_theme }}",
            "local_themes": {
                "continuation": "continuation",
                "select": "select"
            }
		},
		"vim": {
			"colorscheme": "{{ powerline_config_vim_colorscheme }}",
			"theme": "{{ powerline_config_vim_theme }}"
		}
	}
}
